.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  background-color: #F0F0F0 !important;
}

.common-left {
  background-color: #FFF;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
}

.common-box {
  background-color: #FFF;
  margin-left: .5rem;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;


}

.common-main {
  margin-top: .5rem;
}

.list-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}

.list-context {
  color: #777;
  padding: .5rem;
}

.list-icon {
  padding: .5rem 0;
  color: #AAA;
}

.list-icon span {
  display: inline-block;
  padding: 0 5px;
}